version: '3.9'

services:
  database:
    image: mongo:latest
    ports:
      - ${DB_PORT}:${DOCKER_DB_PORT}
    volumes: 
      - ./db/data:/data/db
      # - ./db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./db/initdb.d/:/docker-entrypoint-initdb.d/
    container_name: SmartFit-DB
    env_file:
      - .env
    networks:
      - SmartFit-network



  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${DOCKER_SERVER_PORT}
    container_name: SmartFit-backend
    networks:
      - SmartFit-network
    depends_on: 
      - database

  forntend:
    build: 
      args:
        - SERVER_PORT=${SERVER_PORT}
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${DOCKER_APP_PORT}
    container_name: SmartFit-frontend
    stdin_open: true
    tty: true
    networks:
      - SmartFit-network


networks:
  SmartFit-network:
    driver: bridge

  

